em{
    font-size: 17px!important;
    color: color('black1');
    font-weight: 700!important;
    font-style: normal!important;
}

b{
    font-size: 15px!important;
    font-weight: 400!important;
    color:color('black3')!important;
}

small{
    font-size: 14px!important;
    font-weight: 400!important;
    color:color('black3')!important;
}